service cloud.firestore {
  match /databases/{database}/documents {
    function hasAccess() {
      return request.auth.token.hasAccess == true;
    }

    function isLoggedIn() {
      return request.auth.uid != null;
    }

    match /users/{user} {
      allow get: if request.auth.uid == user;
      allow list: if false;
      allow create: if false;
      allow update: if request.auth.uid == user;
      allow delete: if false;
    }

    match /refreshTokens/{user} {
      allow get: if request.auth.uid == user;
      allow list: if false;
      allow write: if false;
    }

    match /orders/{order} {
      allow read: if (isLoggedIn() && hasAccess());
      allow write: if (isLoggedIn() && hasAccess());
    }

    match /userPermissions/{document=**} {
      allow read, write: if false;
    }
  }
}
